html {
    display: flex;
    justify-content: center;
}

body {
    margin-top: 0;
    width: 95vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(235, 235, 235);
}

.main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    /* gap: 10px; */
}

.main-container .main-news {
    width: 90%;
    /* border: yellow solid 3px; */
    font-family: sans-serif;
}

.main-container .main-news h1 {
    /* color: blue; */
    font-size: 3.5vw;
    font-weight: bolder;
    margin-bottom: 0px ;
}

.main-container .main-news .main-news-p {
    width: 90%;
    font-size: 2vw;
    opacity: 60%;
}

.main-news-fonte {
    font-style: italic;
    opacity: 30%;
    font-size: 1.7vw;
    margin-bottom: 0.8vh;
}

.main-news-hr {
    width: 38vw;
    height: 0.7vh;
    background: linear-gradient(to right, #ff0000, #816bfd);
    border: 0;
    justify-self: flex-start;
    margin: 0;
}

.main-container .main-news p {
    margin-top: 0.5vh;
}

#frist-img {
    width: 100%;
    /* border: green solid 2px; */
}

#second-img {
    width: 100%;
}

.minor-container {
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 4vw;
    align-self: flex-start;
    margin-top: 5vh;
}

.sub-container-one {
    width: 38vw;
    height: 30vh;
}

.sub-container-one img {
    width: 100%;
}

.sub-container-one h1,
.sub-container-two h1 {
    /* border: red solid 2px; */
    margin-top: 1vh;
    margin-bottom: 1vh !important;
    width: 95%;
    font-size: 2.6vw !important;
}

.sub-container-one hr {
    width: 24vw;
    background: linear-gradient(to right, #00afce, #816bfd);

}
.sub-container-two hr {
    width: 24vw;
    background: linear-gradient(to right, #00afce, #00ca22);
}

.sub-container-two {
    width: 39.8vw;
    height: 30vh;
}

.sub-container-two img {
    width: 100%;
    border-right: hsla(130, 81%, 45%, 0.89) solid 3vw;
}