html {
    display: flex;
    justify-content: center;
}

body {
    margin-top: 0;
    width: 95vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: gainsboro;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    /* gap: 10px; */
}

.container .main-news {
    width: 90%;
    /* border: yellow solid 3px; */
    font-family: sans-serif;
}

.container .main-news h1 {
    /* color: blue; */
    font-size: 3.5vw;
    font-weight: bolder;
    margin-bottom: 0px ;
}

.container .main-news .main-news-p {
    width: 90%;
    font-size: 2vw;
    opacity: 60%;
}

.main-news-fonte {
    font-style: italic;
    opacity: 30%;
    font-size: 1.7vw;
    margin-bottom: 0.8vh;
}

.main-news-hr {
    width: 38vw;
    height: 0.7vh;
    background: linear-gradient(to right, #ff0000, #816bfd);
    border: 0;
    justify-self: flex-start;
    margin: 0;
}

.container .main-news p {
    margin-top: 0.5vh;
}

#frist-img {
    width: 100%;
    /* border: green solid 2px; */
}

#second-img {
    width: 100%;
    /* border: red solid 2px; */
}